@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
    background: url(http://www.zastavki.com/pictures/originals/2014/World___Greece_Night_view_of_Athens_058487_.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}