.universityName {
    width: 80%;
    background-color: white;
    border-radius: 15px;
    border: 5px darkblue solid;
    color: darkblue;
    margin-left: 8%;
    margin-right: 10%;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}
.departmentName {
    width: 80%;
    background-color: white;
    border-radius: 15px;
    border: 5px darkblue solid;
    color: darkblue;
    margin-left: 8%;
    margin-right: 10%;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.smallBox {
    width: 23%;
    background-color: white;
    border-radius: 15px;
    border: 5px darkblue solid;
    color: darkblue;
    margin-left: 8%;
    margin-right: 1%;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    text-align:center;
    color:darkblue;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);

}
.center {
    display: table;
    margin-left: 35%;

    display: table-cell;
    text-align: center;
    vertical-align: middle;
}